/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .1_27 { 
	overflow:hidden;
}
.viewport { 
	background-color:rgba(255, 255, 255, 1);
	width:377px;
	height:1027px;
	position:absolute;
}
.whale { 
	width:375px;
	height:254px;
	position:absolute;
	left:1px;
	top:20px;
}
.image_2 { 
	width:375px;
	height:254px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.frame_4 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:375px;
	height:36px;
	position:absolute;
	left:1px;
	top:284px;
}
.moby_dick { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.body_text_component { 
	background-color:rgba(255, 255, 255, 1);
	width:317px;
	height:677px;
	position:absolute;
	left:1px;
	top:330px;
}
.bodytext{
	color:rgba(0, 0, 0, 1);
	width:297px;
	height:677px;
	position:absolute;
	left:20px;
	top:0px;
	font-family:EB Garamond;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .1_26 { 
	overflow:hidden;
}
.viewport { 
	background-color:rgba(255, 255, 255, 1);
	width:834px;
	height:1194px;
	position:absolute;
}
.whale { 
	width:324px;
	height:283px;
	position:absolute;
	left:459px;
	top:71px;
}
.image_2 { 
	width:324px;
	height:283px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.body_text_instance { 
	background-color:rgba(255, 255, 255, 1);
	width:794px;
	height:667px;
	position:absolute;
	left:20px;
	top:475px;
}
.bodytext { 
	color:rgba(0, 0, 0, 1);
	width:794px;
	height:667px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:EB Garamond;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.frame_4 { 
	background-color:rgba(85.0000025331974, 85.0000025331974, 85.0000025331974, 1);
	width:375px;
	height:36px;
	position:absolute;
	left:69px;
	top:156px;
}
.moby_dick { 
	color:rgba(255, 255, 255, 1);
	width:144px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}

}




